.header {
    display: grid;
    gap: 24px;
    padding: 16px;
    box-sizing: border-box;
    align-items: stretch;
    border-block-end: 1px solid var(--border-color, #e5e5e5);
    grid-template-columns: repeat(4, 120px);
    grid-auto-rows: 48px;
    justify-items: stretch;
}

.header li {
    display: grid;
    place-content: center;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px var(--box-shadow-color, #e5e5e5);
    text-align: center;
}

.header li:has(:global(.active)) {
    background-color: var(--color, #0f0f0f);
}

.header li :global(.active) {
    color: var(--background-color, #ffffff);
}

.header li a {
    text-decoration: none;
    padding: 4px 16px;
    display: block;
    color: var(--color, #000);
}
