.container {
    display: flex;
    box-sizing: border-box;
    padding: 16px;
    border-block-start: 1px solid var(--border-color, #f6f6f6);
    gap: 16px;
}

.content {
    display: flex;
    gap: 8px;
}


.item {
    padding: 0 10px;
    border-radius: var(--border-radius, 4px);
    cursor: pointer;
}

.active {
    color: var(--reverse-color, #fff);
    background-color: var(--primary-color, green);
}
