.container {
    display: inline-grid;
    place-content: center;
    width: 1em;
    align-items: center;
    border-radius: 4px;
}

.container:global(.green) {
    background-color: green;
    color: #fff;
}

.container:global(.red) {
    background-color: red;
    color: #fff;
}
