.container {
    display: grid;
    grid-template-columns: 180px 1fr;
}

.side {
    list-style: none;
    display: grid;
    background-color: var(--sidebar-background, #f6f6f6);
    block-size: 100vh;
    justify-content: stretch;
    align-items: center;
    align-content: start;
    grid-auto-rows: 48px;
}

.side-item {
    display: grid;
    place-content: center;
    inline-size: 100%;
    block-size: 100%;
}

.side-item:has(.active) {
    background-color: var(--background-color, white);
}

.side-item a {
    text-decoration: none;
    color: var(--gray-color, gray);
}

.side-item .active {
    color: var(--color, black);
}
